/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

/* general styling */

:root {
      font-size: 18px;
}

h1 {
      font-family: 'Fraunces', serif;
      color: white;
      font-size: 2.6rem !important;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-weight: 900;
}

h2 {
      font-family: 'Fraunces', serif;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

a {
      text-decoration: none;
      font-family: 'Barlow', sans-serif;
}


/* header styling and hero section styling */

header {

      background-image: url("./images/desktop/image-header.jpg");
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.header-top {
      display: flex;
      height: 5rem;
      width: 100vw;
      justify-content: space-between;
      padding: 0 1.5rem 0 1.5rem;
      align-items: center;
}

nav {
      display: flex;
      height: 100%;
      width: 35%;
      justify-content: space-evenly;
      align-items: center;
}

nav a {

      padding: 15px 25px;
      font-size: 0.8rem;
      color: white;
}

nav a:last-of-type {
      border-radius: 25px;
      background-color: white;
      color: black;
      font-family: 'Fraunces', serif;
      text-transform: uppercase;
      font-size: 0.6rem;
}

.hero-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 53%;
}


/* first section styling */

.first-section {
      height: 150vh;
      width: 100%;
      display: flex;
      flex-direction: column;
}

.first-section-subsection {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

.quarter-section {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 6rem;
      gap: 30px;
}

.quarter-section a {
      font-size: 0.8rem;
      font-family: 'Fraunces', serif;
      text-transform: uppercase;

}

.quarter-section a::before {
      content: "";
      position: absolute;
      height: 8px;
      width: 6rem;
      margin-left: -4px;
      background-color: hsl(51, 100%, 49%);
      margin-top: 10px;
      z-index: -1;
      border-radius: 4px;
      opacity: 0.4;
}

.quarter-section p {
      font-family: 'Barlow', sans-serif;
      font-weight: 600;
      color: hsl(232, 10%, 55%);
      line-height: 1.7;
      font-size: 0.9rem;
      letter-spacing: 0.7px;
}

.quarter-section h2 {
      font-family: 'Fraunces', serif;
      font-size: 2.3rem;

}

.egg {
      background-image: url("./images/desktop/image-transform.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}

.background-div-lower {
      background-image: url("./images/desktop/image-stand-out.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}


/* second section styling */

.second-section {
      height: 75vh;
      display: flex;
}

.second-section-subsection {

      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 1.3rem;
      padding-bottom: 1.8rem;

}

.cherry {
      background-image: url("./images/desktop/image-graphic-design.jpg");
      background-repeat: no-repeat;
      background-size: cover;

}

.orange {
      background-image: url("./images/desktop/image-photography.jpg");
      background-repeat: no-repeat;
      background-size: cover;

}

.second-section h3 {
      font-family: 'Fraunces', serif;
      font-size: 1.3rem;
      font-weight: 900;
}

.second-section h3:nth-of-type(1) {
      color: hsl(167, 40%, 24%)
}

.second-section h3:nth-of-type(2) {
      color: hsl(198, 62%, 26%)
}



.second-section p {
      width: 19rem;
      text-align: center;
      font-family: 'Barlow', sans-serif;
      font-weight: 600;
      line-height: 1.5;
      font-size: 0.9rem;
      opacity: 0.7;
}

.second-section p:nth-of-type(1) {
      color: hsl(167, 40%, 24%)
}

.second-section p:nth-of-type(2) {
      color: hsl(198, 62%, 26%)
}


/* client testimonials section */

.testimonial-section {
      height: 87vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem 0;
}

.testimonial-section h4 {
      font-family: 'Fraunces', serif;
      font-size: 1.1rem;
      font-weight: 900;
      color: hsl(210, 4%, 67%);
      text-transform: uppercase;
      letter-spacing: 0.4rem;
}

.client-testimonials {
      display: flex;
      justify-content: space-evenly;

}

.client-testimonials img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
}

.client-testimonial-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 25%;
      gap: 2.8rem;
}

.client-testimonial-container p {
      text-align: center;
      font-family: 'Barlow', sans-serif;
      font-size: 0.9rem;
      letter-spacing: 0.5px;
      line-height: 1.7;
      color: hsl(232, 10%, 55%)
}

.client-info {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0.6rem;
}

.client-info h3 {
      font-family: 'Fraunces', serif;
      font-size: 1rem;
      font-weight: 700;
      color: hsl(212, 27%, 19%);
}

.client-info span {
      font-family: 'Barlow', sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      color: hsl(210, 4%, 67%)
}

/* random image section styling */

.random-image-section {
      height: 57vh;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
}

.decorative-img {

      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
}

.milk {
      background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
}

.deco-orange {
      background-image: url("./images/desktop/image-gallery-orange.jpg")
}

.scope {
      background-image: url("./images/desktop/image-gallery-cone.jpg")
}

.sugar {
      background-image: url("./images/desktop/image-gallery-sugarcubes.jpg")
}

/* styling footer */

footer {
      background-color: hsl(168, 54%, 71%);
      height: 40vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
}

.footer-nav {
      display: flex;
      gap: 2.5rem;
}

.footer-nav a {
      font-size: 0.8rem;
      color: hsl(168, 34%, 41%);
}

.footer-upper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.7rem;
}

.icons-container {
      display: flex;
      gap: 1.5rem;
}